<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap -->
    <link
      href="../bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- LOCAL STYLE -->
    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/fa/css/all.min.css" />

    <title>ROCK PAPER SCISSORS</title>
  </head>
  <div class="container-fluid">
    <button class="title_nav mb-0" onclick=" window.location.href = '/'">
        <span id="back_btn" > < </span>
        <img class="img-fluid icon-top" src="assets/icon.png" /> ROCK PAPER
        SCISSORS
      </p>
    </button>
  </div>
  <body>
    <!-- pilihan batu gunting kertas -->
    <div class="container row_pilihan text-center">
      <div class="row">
        <div class="col">
          <h2 class="name_player"> <%= user %> </h2>
        </div>
        <div class="col"></div>
        <div class="col">
          <h2 class="name_player">COMPUTER</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            class="batu btn"
            id="batu_player"
            type="button"
            onclick="playGame('batu')"
          >
            <img
              height="150"
              width="150"
              class="rounded img-fluid"
              src="assets/batu.png"
            />
          </button>
        </div>
        <div class="col"></div>
        <div class="col">
          <button class="batuCom btn" id="batuCom" type="button">
            <img
              height="150"
              width="150"
              class="rounded img-fluid"
              src="assets/batu.png"
            />
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            class="kertas btn"
            id="kertas_player"
            type="button"
            onclick="playGame('kertas')"
          >
            <img
              height="150"
              width="150"
              class="rounded img-fluid"
              src="assets/kertas.png"
            />
          </button>
        </div>
        <div class="col result"><h1 class="middle_text">VS</h1></div>
        <div class="col">
          <button class="kertasCom btn" id="kertasCom" type="button">
            <img
              height="150"
              width="150"
              class="rounded img-fluid"
              src="assets/kertas.png"
            />
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            class="gunting btn"
            id="gunting_player"
            type="button"
            onclick="playGame('gunting')"
          >
            <img
              height="150"
              width="150"
              class="rounded img-fluid"
              src="assets/gunting.png"
            />
          </button>
        </div>
        <div class="col"></div>
        <div class="col">
          <button class="guntingCom btn" id="guntingCom" type="button">
            <img
              height="150"
              width="150"
              class="rounded img-fluid"
              src="assets/gunting.png"
            />
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="retry_btn" onclick="reset()">
            <i class="fas fa-sync-alt fa-3x"></i>
          </button>
        </div>
      </div>
    </div>
  </body>
  <!-- bootstrap -->
  <script src="../bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>

<script src="script.js"></script>
