body{
    background-color: rgb(160, 140, 101);
}

.title_nav{
    font-size: 3vw;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(160, 140, 101);
    color: rgb(255, 191, 30);
    border: 0;
}

.name_player{
    font-weight: bolder;
}
.icon-top{
    padding: 10px 10px;
}

.middle_text{
    font-size: 12vw;
    color: red;
}

.col button{
    background-color: rgb(160, 140, 101);
    border: 0;
}
.col button:active {
    background-color: grey;
}

.box1{
  background-color: rgb(111, 192, 18);
  rotate: -30deg;
}

.resultTxt{
    font-size: 4vw;
    color: white;
}